.sideBar
  .sideBar__user
    %p.sideBar__user__name 
      = current_user.name
      = link_to new_group_path do
        %i.fa.fa-cog
      = link_to do 
        %i.fa.fa-edit
    
  .sideBar__group
    .sideBar__group-margin
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
  
.groupBox
  .groupBox__member
    %p.groupbox__member__edit Edit
    %p.groupBox__member__title test-group
    %p.groupBox__member__name Members:
  .groupBox__chat
    %p.groupBox__chat__user test-user 
    %p.groupBox__chat__message こんにちは！
  .groupBox__footer
    %p.groupBox__footer__sendButton Send
    %p.groupBox__footer__white 
      type a message
      //以下、カリキュラムを参考
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          =f.file_field :image, class: 'hidden'
        =f.submit 'Send', class: 'form__submit'

